body {
text-align: center;
color: white;
background-color: cornflowerblue;
}

/* Oculta a tabela inicialmente */
#tabelaResultado {
    display: none; 
}

.destaque {
    background-color: rgb(73, 113, 58);
}
